.main {
  padding-top: var(--header-height);
}

.videoList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.videoContainer {
  position: relative;
  height: calc((100vh - var(--header-height)) / 3);
  width: 33%;
  cursor: pointer;
  overflow: hidden;
}

.videoDescriptionContainer {
  position: absolute;
  padding: 2.5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoDescription {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.videoTitleContainer,
.videoTagContainer {
  display: flex;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.videoTitleContainer {
  justify-content: flex-end;
  padding-right: 30px;
  text-align: right;
}

.videoContainer:hover .videoTitleContainer {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.videoContainer:hover .videoTagContainer {
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}

.videoTitle,
.videoTag {
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

.videoTitle {
  font-size: 18px;
}

.videoTag {
  font-size: 12px;
}

.videoTagContainer {
  align-self: flex-end;
  padding-left: 30px;
  text-align: left;
}

.videoThumbnail {
  position: relative;
  height: 100%;
  width: 100%;
}

.videoThumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.videoThumbnail video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .videoContainer {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .videoContainer {
    width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  .videoContainer {
    height: calc(100vh - var(--header-height));
    min-height: 15rem;
  }
}
